.detail-page {
  padding-bottom: 100px;
}

.container {
  padding: 10px 20px;
}

.detail-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.detail-components {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.detail-component-item {
  padding: 10px 0;
}

.detail-component-item.active {
  border-bottom: 3px solid #fff;
}

.detail-banner {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.detail-background-image {
  background-color: blue;
  height: 65%;
  width: 100%;
}

.detail-background-image img {
  width: 100%;
}

.detail-movie-profile {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.detail-movie-profile-img {
  width: 35%;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
  background-color: aqua;
}

.detail-movie-profile-img img {
  width: 100%;
}

.detail-movie-profile-title {
  margin-left: 5px;
}

.detail-movie-infos {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.detail-movie-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.detail-movie-info.detail-border {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.detail-movie-info p {
  margin-left: 5px;
}

@media (min-width: 600px) {
  .detail-page-header {
    font-size: 22px;
  }

  .detail-movie-profile-title {
    font-size: 22px;
  }

  .detail-components {
    font-size: 18px;
  }

  .detail-banner {
    height: 500px;
  }

  .detail-background-image {
    height: 75%;
  }

  .detail-movie-profile-img {
    height: 250px;
  }

  .detail-movie-infos {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .detail-page {
    padding-bottom: 120px;
  }

  .container {
    padding: 20px 30px;
  }

  .detail-page-header {
    height: 100px;
  }

  .detail-components {
    font-size: 20px;
    padding: 20px 80px;
  }

  .detail-banner {
    height: 600px;
  }

  .detail-background-image {
    height: 80%;
  }

  .detail-movie-profile {
    bottom: 50px;
    width: 100%;
  }

  .detail-movie-profile-img {
    width: 40%;
    height: 350px;
  }

  .detail-movie-profile-img img {
    object-fit: fill;
  }

  .detail-movie-profile-title {
    margin-left: 10px;
  }

  .detail-movie-infos {
    font-size: 16px;
  }

  .detail-movie-info p {
    margin-left: 10px;
  }

  .watch-list-icon {
    cursor: pointer;
  }
}
