<div class="home-page">
  <h3 class="home-title">What do you want to watch?</h3>

  <div class="search-bar">
    <input
      type="text"
      id="search"
      placeholder="Search"
      #search
      (focus)="goSearchPage()"
    />
    <i class="fa-solid fa-search"></i>
  </div>

  <div class="slider">
    <ngb-carousel class="swiper">
      <ng-template ngbSlide class="swipe-img">
        <img
          src="  https://lumiere-a.akamaihd.net/v1/images/p_disneymovies_avatarthewayofwater_streamingupdate_2096_0908fa1b.jpeg"
          alt="Slide 1"
        />
      </ng-template>
      <ng-template ngbSlide class="swipe-img">
        <img
          src="https://m.media-amazon.com/images/M/MV5BYzFhM2M1MDUtNDhmNC00YzEzLThiMzctYWYxZTc0MGJhNWYyXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg"
          alt="Slide 2"
        />
      </ng-template>
    </ngb-carousel>
  </div>

  <ul class="categories">
    <li
      class="category-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/" class="category-link">Now Playing</a>
    </li>
    <li class="category-item" routerLinkActive="active">
      <a routerLink="/upcoming" class="category-link">Upcoming</a>
    </li>
    <li class="category-item" routerLinkActive="active">
      <a routerLink="/top-rated" class="category-link">Top Rated</a>
    </li>
    <li class="category-item" routerLinkActive="active">
      <a routerLink="/popular" class="category-link">Popular</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
