<div class="home-page">
  <h3 class="home-title">What do you want to watch?</h3>

  <div class="search-bar">
    <input
      type="text"
      id="search"
      placeholder="Search"
      #search
      (focus)="goSearchPage()"
    />
    <i class="fa-solid fa-search"></i>
  </div>

  <ngb-carousel class="swiper">
    <ng-template ngbSlide class="swipe-img" *ngFor="let movie of sliderMovies">
      <img
        src="{{ imagePath + movie.poster_path }}"
        routerLink="/movie/{{ movie.id }}"
      />
    </ng-template>
  </ngb-carousel>

  <ul class="categories">
    <li
      class="category-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/" class="category-link">Now Playing</a>
    </li>
    <li class="category-item" routerLinkActive="active">
      <a routerLink="/upcoming" class="category-link">Upcoming</a>
    </li>
    <li class="category-item" routerLinkActive="active">
      <a routerLink="/top-rated" class="category-link">Top Rated</a>
    </li>
    <li class="category-item" routerLinkActive="active">
      <a routerLink="/popular" class="category-link">Popular</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
