.cast-page {
  padding: 10px 20px;
  padding-bottom: 100px;
}

.casts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.cast-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-align: center;
}

.cast-image {
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
}

.cast-image img {
  width: 100%;
}

@media (min-width: 600px) {
  .casts {
    grid-template-columns: repeat(3, 1fr);
  }

  .cast-card {
    font-size: 18px;
  }

  .cast-image {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 1200px) {
  .cast-page {
    padding: 10px 20px;
    padding-bottom: 100px;
  }
  .casts {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .cast-card {
    font-size: 22px;
  }

  .cast-image {
    width: 150px;
    height: 150px;
  }
}
