<div class="bottom-nav">
  <div class="icons active">
    <div
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="icon"
    >
      <i class="fa-solid fa-house"></i>
      <a>Home</a>
    </div>
    <div
      routerLink="/search"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="icon"
    >
      <i class="fa-solid fa-search"></i>
      <a>Search</a>
    </div>
    <div
      routerLink="/watch-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="icon"
    >
      <i class="fa-solid fa-bookmark"></i>
      <a>Watch List</a>
    </div>
  </div>
</div>
