<div class="reviews-page">
  <div class="bootstrap-spinner" *ngIf="loading">
    <div class="spinner-border text-primary mt-4" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="reviews" *ngIf="reviews.length > 0 && !loading; else noReviews">
    <div class="review" *ngFor="let review of reviews">
      <div class="reviewer">
        <div class="review-pp">
          <img src="" />
        </div>
        <div class="review-point">{{ findPoint(review) }}</div>
      </div>
      <div class="review-detail">
        <div class="review-name">{{ review.author }}</div>
        <div class="review-comment">
          {{ review.content }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noReviews>
  <div class="noThings">No Review</div>
</ng-template>
