<div class="watch-list-page">
  <div class="watch-list-page-header">
    <a (click)="goBack()" class="back-icon">
      <i class="fa-solid fa-arrow-left"></i>
    </a>

    <p class="watch-title">Watch List</p>
  </div>

  <div class="watch-movies" *ngIf="watchList.length > 0 && watchList">
    <div class="watch-movie-card" *ngFor="let movie of watchList">
      <div class="watch-movie-card-img" [routerLink]="['/movie', movie.id]">
        <img src="{{ imagePath + movie.poster_path }}" />
      </div>
      <div class="watch-movie-card-detail">
        <div [routerLink]="['/movie', movie.id]">
          <h3 class="watch-movie-card-title">{{ movie.original_title }}</h3>
        </div>
        <div class="watch-movie-card-infos">
          <div class="watch-movie-card-info orange">
            <i class="fa-solid fa-star"></i>
            <p>{{ movie.vote_average.toFixed(1) }}</p>
          </div>
          <div class="watch-movie-card-info">
            <i class="fa-solid fa-ticket"></i>
            <p>{{ findGenre(movie.genres[0]) }}</p>
          </div>
          <div class="watch-movie-card-info">
            <i class="fa-solid fa-calendar"></i>
            <p>{{ getYear(movie.release_date) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
