<div class="popular-page">
  <div class="bootstrap-spinner" *ngIf="loading">
    <div class="spinner-border text-primary mt-4" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="movies" *ngIf="!loading">
    <div
      class="movie-card"
      [routerLink]="['/movie', movie.id]"
      *ngFor="let movie of populerMovies"
    >
      <div class="movie-card-img">
        <img src="{{ imagePath + movie.poster_path }}" />
      </div>
      <div class="movie-card-detail">
        <div class="movie-name">{{ movie.original_title }}</div>
      </div>
    </div>
  </div>
</div>
